
*{
	direction:rtl;
	background:#dff9fb;
}

h1{
	text-align:center;
	font-size:60px;
	background:#c7ecee;
	margin:0 0 0 0;
}

.menu {
	float:right;
	width:100%;
	background:#98dfe3;
}

.menu li {
	float: right;
	list-style: none;
	}

.menu li a {
	text-decoration: none;
	display: inline-block;
	padding: 10px 30px;
	font-weight: bold;
	background: #98dfe3;
	color: #1205ba;
}

footer {
	width: 100%;
	height: 3%;
	background: #77e5ed;
	text-align: center;
	bottom: 0;
	position:absolute;
	right: 0;
	left: 0;
}

footer ul{
    background:#77e5ed;
    
}

footer li {
	display: block;
	padding: 3px ;
	font-weight: bold;
	background: #77e5ed;
	color: #1205ba;
}
footer li a {
	text-decoration: none;
	padding: 3px ;
	font-weight: bold;
	background: #77e5ed;
	color: #1205ba;
	text-align: right;
}  

.myform {
	padding:20px 10px 0 0;
	margin:30px 10px 0 0;
}

.myform label {
	margin:20px 10px 4px 0;
	display:block;
	font-size:18px;
}


.myform textarea {
	border:2px solid ;
	width:400px;
	height:200px;
	font-size:17px;
}

.myform input {
	width:250px;
	height:22px;
	font-size:17px;
}

.myform input[type="button"] {
	width:100px;
	height:25px;
	font-size:20px;
	background:#6bffbf;
	cursor:pointer;
}
